/* Estilos generales */
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: black;
    background-image: url('https://s1.1zoom.me/big0/109/429090-Kycb.jpg'); /* Fondo con estrellas */
    background-size: cover;
    color: white;
    text-align: center;
}

/* Logo y Usuarios */
.logo {
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    align-items: center;
}

.logo-text {
    font-size: 20px;
}

.users {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.user {
    font-size: 18px;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

/* Encabezado */
.header {
    padding-top: 50px;
}

.header h1 {
    font-size: 60px;
    margin-bottom: 10px;
}

.header h2 {
    font-size: 40px;
    margin-bottom: 50px;
}

/* Cuadrícula de opciones en la página principal */
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 30px;
    margin: 0 auto;
    width: 80%;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    font-size: 25px;
}

.grid-item a {
    text-decoration: none;
    color: white;
}

.grid-item a span {
    display: inline-block;
    background-color: #001f3f; /* Azul marino */
    padding: 10px;
    border-radius: 5px;
    color: white;
}

.grid-item a span:hover {
    background-color: #004080;
}

/* Contenido en las páginas internas */
.content {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.content .grid-item {
    width: 80%;
    max-width: 800px;
    background-color: #001f3f; /* Cambiado al mismo color que el botón */
    border-radius: 10px;
    padding: 20px;
    text-align: left;
}

.content .grid-item h2 {
    font-size: 30px;
    margin-top: 20px;
    color: white;
}

.content .grid-item p,
.content .grid-item ul,
.content .grid-item li {
    font-size: 20px;
    margin: 10px 0;
    color: white;
}

.content .grid-item ul {
    list-style-type: disc;
    padding-left: 40px;
}

/* Enlaces */
a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Pie de página */
footer {
    margin-top: 30px;
}

footer p {
    margin-bottom: 20px;
}

footer a {
    text-decoration: none;
}

footer a span {
    display: inline-block;
    background-color: #001f3f;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-size: 18px;
}

footer a span:hover {
    background-color: #004080;
}
